<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::internetprotocol">
                    <resource id="Baju_InternetProtocol::general">
                        <resource id="Baju_InternetProtocol::internetprotocol" title="Manage InternetProtocol" translate="title" sortOrder="900"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
