<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="IpGridDataProvider" type="Baju\InternetProtocol\Ui\DataProvider\Grid">
        <arguments>
            <argument name="collection" xsi:type="object">Baju\InternetProtocol\Model\ResourceModel\Ip\Collection</argument>
        </arguments>
    </virtualType>
    <virtualType name="IpFormDataProvider" type="Baju\InternetProtocol\Ui\DataProvider\EditForm">
        <arguments>
            <argument name="collection" xsi:type="object">Baju\InternetProtocol\Model\ResourceModel\Ip\Collection</argument>
        </arguments>
    </virtualType>
    <virtualType name="IpFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
</config>